.section-header > h2 {
 margin-left: 16px !important;
}

.section-header {
  border-left: 3px solid #008fd5;
  margin-left: 14px;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.team-pic {
  position: relative;
  top: 7px;
}

.detail-name.text-bold a {
  color: #fff !important;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.img-full {
  height: 250px;
  width: 100%;
}

.detail-name.text-bold, .detail-title{
  text-align: center;
  color: #fff;
}

.owl-theme .owl-controls .owl-buttons div,.site-back-top:hover,.site-nav>ul.nav-default>li>a:before,.team-half .team-half-list .team-member,.team-horizontal .team .team-detail .detail-social,.transparent,.zoom-effect:after,.zoom-effect:before,a,button.btn,input.btn {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}


.nav-default li {
    float: left;
}

.nav-default li a {
    display: inline-block;
}

.nav-pager li {
    margin-right: 5px;
}

.nav-pager li a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #FFF;
}

.nav-pager li a:hover {
    background-color: #e1e1e1;
}

.nav-pager li.active a {
    background-color: #ffc740;
}



.box-dark .owl-theme .owl-controls .owl-buttons div,.box-dark-light .owl-theme .owl-controls .owl-buttons div {
    color: #FFF;
    background-color: #151515;
}

.box-dark .owl-theme .owl-controls .owl-buttons div:hover,.box-dark-light .owl-theme .owl-controls .owl-buttons div:hover {
    color: #262626;
}

.box-dark .owl-theme .owl-controls .owl-page span,.box-dark-light .owl-theme .owl-controls .owl-page span {
    background-color: #151515;
}

.box-yellow {
    background-color: #ffc740;
}

.box-yellow .owl-theme .owl-controls .owl-buttons div:hover {
    color: #FFF;
    background-color: #262626;
}

.box-yellow .owl-theme .owl-controls .owl-page span {
    background-color: #FFF;
}

.zoom-effect {
    display: block;
    position: relative;
}

.zoom-effect:before {
    content: '';
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.5);
}

.zoom-effect:after {
    opacity: 0;
    font-family: FontAwesome;
    content: "\f002";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    color: #FFF;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.zoom-effect:hover:after,.zoom-effect:hover:before {
    opacity: 1;
}

.hover-effect {
    position: relative;
}

.hover-effect figcaption {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.8);
}

.hover-effect figcaption .caption-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.hover-effect figcaption .caption-buttons a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    float: left;
    margin: 0 5px;
    color: #FFF;
    border: 1px solid #fff;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.hover-effect figcaption .caption-buttons a:hover {
    border-color: #ffc740;
    color: #ffc740;
}

.social-icons li {
  height: 30px;
  margin-left: 10px !important;
  width: 30px;
}

.social-icons li a {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 13px;
    background-color: #FFF;
}

.social-icons li a:hover {
    color: #FFF;
}

.social-icons li a.facebook:hover {
    background-color: #204385;
}

.social-icons li a.twitter:hover {
    background-color: #2aa9e0;
}

.social-icons li a.google:hover {
    background-color: #d3492c;
}

.social-icons li a.linkedin:hover {
    background-color: #02669a;
}

.social-icons li:first-child {
    margin-left: 0;
}

.social-icons.social-grey li a {
    background-color: #f3f3f2;
}

.social-icons.inline {
  display: inline-block;
  list-style: none outside none;
}


.grid-list#owl-clients-big .grid {
    margin-top: inherit;
    margin-left: inherit;
    border-left: 0;
    border-bottom: 0;
    border-top: 0;
}

.grid-list#owl-clients-big .owl-wrapper-outer {
    border: 1px solid #e1e1df;
}

.grid-list.grid-dark#owl-clients-big .owl-wrapper-outer {
    border: 1px solid #515151;
}

.testimonials-horizontal .item-image {
    display: inline-block;
    width: 90px;
    height: 90px;
    border: 4px solid #FFF;
}

.testimonials-horizontal .item-image img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.testimonials-horizontal .item-comment {
    margin: 10px 0;
}



.team-horizontal .team .team-detail .detail-social {
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 100%;
    left: 0;
    text-align: center;
    background-color: #fff;
    overflow: hidden;
}

.team-horizontal .team:hover .team-detail .detail-social {
    height: 30px;
}

.team-horizontal .owl-controls .owl-buttons {
    right: 15px;
}

.blog-horizontal .post,.team-horizontal.owl-carousel .team {
    padding: 0 15px;
}



.team-half .team-half-detail>div {
    display: none;
}

.team-half .team-half-detail>.active {
    display: block;
}

.team-half .team-half-detail .team-header .team-photo {
    width: 90px;
    margin-right: 20px;
    border: 4px solid #fff;
}

.team-half .team-half-detail .team-header .team-name h4 {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 500;
}

.team-half .team-half-detail .team-desc {
    margin: 20px 0;
}

.team-half .team-half-list .team-member {
    margin-bottom: 30px;
    border: 4px solid #FFF;
}

.team-half .team-half-list .team-member.active {
    border-color: #ffc740;
}

.team-half .team-half-list .team-member .zoom-effect:after {
    display: none;
}

